<?xml version="1.0"?>
<!--
////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////
-->
<configuration>
    <title>ArcGIS Viewer for Flex</title>
    <logo>assets/images/logo.png</logo>
    <style>
        <colors>0xFFFFFF,0x333333,0x101010,0x000000,0xFFD700</colors>
        <alpha>0.8</alpha>
        <font size="12"/>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer"/>

    <widget
        left="10" top="50"
        config="widgets/Navigation/NavigationWidget.xml"
        url="widgets/Navigation/NavigationWidget.swf"/>
    <widget
        right="0" bottom="0"
        config="widgets/OverviewMap/OverviewMapWidget.xml"
        url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget
        right="20" top="55"
        config="widgets/MapSwitcher/MapSwitcherWidget.xml"
        url="widgets/MapSwitcher/MapSwitcherWidget.swf"/>
    <widget
        left="0" top="0"
        config="widgets/HeaderController/HeaderControllerWidget.xml"
        url="widgets/HeaderController/HeaderControllerWidget.swf"/>

    <map
        top="40"
        wraparound180="true"
        addarcgisbasemaps="true"/>

    <widgetcontainer layout="float">
        <widget
            icon="assets/images/i_draw2.png"
            label="描画"
            config="widgets/Draw/DrawWidget.xml"
            url="widgets/Draw/DrawWidget.swf"/>
        <widget
            icon="assets/images/i_print.png"
            label="印刷"
            config="widgets/Print/PrintWidget.xml"
            url="widgets/Print/PrintWidget.swf"/>
    </widgetcontainer>

</configuration>
